<div class="container">
    <div class="row">
        <div class="col-12 col-md-4">

            <mat-card *ngIf="dish" fxFlex>
                <mat-card-header>
                <div mat-card-avatar></div>
                <mat-card-title>
                    <h3>{{dish.name | uppercase}}</h3>
                </mat-card-title>
                </mat-card-header>
                <img mat-card-image src="{{BaseURL + dish.image}}" alt={{dish.name}}>
                <mat-card-content> 
                <p>{{dish.description}}
                </p>
                </mat-card-content>
            </mat-card>
        
            <div [hidden]="dish || dishErrMess">
                <mat-spinner>Loading ...</mat-spinner>
            </div>
            <div *ngIf="dishErrMess">
                <h1>Error</h1>
                <h4>{{dishErrMess}}</h4>
            </div>
        </div>
        <div class="col-12 col-md-4">
            
            <mat-card *ngIf="promotion" fxFlex>
                <mat-card-header>
                <div mat-card-avatar></div>
                <mat-card-title>
                    <h3>{{promotion.name | uppercase}}</h3>
                </mat-card-title>
                </mat-card-header>
                <img mat-card-image src={{promotion.image}} alt={{promotion.name}}>
                <mat-card-content>
                <p>{{promotion.description}}
                </p>
                </mat-card-content>
            </mat-card>
            <div [hidden]="promotion">
                <mat-spinner></mat-spinner>
            </div>
        </div>

        <div class="col-12 col-md-4">
            
            <mat-card *ngIf="leader" fxFlex>
                <mat-card-header>
                <div mat-card-avatar></div>
                <mat-card-title>
                    <h3>{{leader.name | uppercase}}</h3>
                </mat-card-title>
                </mat-card-header>
                <img mat-card-image src={{leader.image}} alt={{leader.name}}>
                <mat-card-content>
                <p>{{leader.description}}
                </p>
                </mat-card-content>
            </mat-card>
        </div>
        <div [hidden]="leader">
            <mat-spinner></mat-spinner>
        </div>
    </div>

    <div class="container text-center">

        <button mat-button type="button" (click)="popUpMenu()" class="btn btn-light m-2 btn-large">Menu</button>

    </div>

</div>